# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# MacOS desktop service store
.DS_Store

#Build
dist
